/* 
   styles.css - hobby css
*/
body {
    font-family: 'Roboto', sans-serif;
  }

  #top_container {
    display: flex;
    height: 90px;
    background-color: #FF7710;
    align-items: center;
  }

  #page_name1 {
    font-size: 37px;
    margin-left: 20px;
  }

  #page_name2 {
    font-size: 17px;
  }

  #page_name1,
  #page_name2 {
    font-weight: 1000;
    display: inline-block;
    /*가로 배열*/
  }

  #top_container li {
    list-style-type: none;
    display: inline-block;
    font-size: 27px;
  }

  #category1 {
    margin-left: 770px;
    margin-right: 50px;
  }

  #category2 {
    margin-right: 50px;
    font-weight: 1000;
  }

  #bottom_container {
    margin-top: 10px;
  }

  #bottom_container_top {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  #bottom_container_bottom {
    margin-bottom: 100px;
  }

  .texts {
    font-size: 16px;
    line-height: 0.5;
    font-weight: 600;
    text-align: center;
  }

  a {
  color: inherit; /* 부모 요소의 색상을 상속받음 */
  text-decoration: none; /* 밑줄 제거 */
  }

  #logo{
      margin-left: 15px;
      margin-top: 6px;
  }